body{
    background-color:#58c9ff9c;
  }
  
  .btn{
    cursor: pointer;
  }
  
  body {
    color:black;
    font-size: bold;
  }
  
  .clicked {
    color:blueviolet;
  }

  .form,
  .greetings {
      display: none;
  }

  .showing {
      display: block;
  }

  @keyframes fadeIn{
    from{
      opacity: 0;
    } 
    to{
      opacity: 1;
    }
  }